<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Sociala medier
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item detail button="true" (click)="gotoYoutube()">
      <ion-icon color="light" slot="start" name="logo-youtube"></ion-icon>
      <ion-label>
        <h2>Youtube</h2>
        <h3>Min Youtube kanal.</h3>
      </ion-label>
    </ion-item>
    <ion-item detail button="true" (click)="gotoEyeem()">
      <ion-icon color="light" slot="start" name="eye"></ion-icon>
      <ion-label>
        <h2>EyeEm</h2>
        <h3>Se mina foton på EyeEm.</h3>
      </ion-label>
    </ion-item>
    <ion-item detail button="true" (click)="gotoFacebook()">
        <ion-icon color="light" slot="start" name="logo-facebook"></ion-icon>
      <ion-label>
        <h2>Facebook</h2>
        <h3>Följ mig på Facebook.</h3>
      </ion-label>
    </ion-item>
    <ion-item detail button="true" (click)="gotoInstagram()">
        <ion-icon color="light" slot="start" name="logo-instagram"></ion-icon>
      <ion-label>
        <h2>Instagram</h2>
        <h3>Se mina foton på Instagram.</h3>
      </ion-label>
    </ion-item>
    <ion-item detail button="true" (click)="gotoTwitter()">
        <ion-icon color="light" slot="start" name="logo-twitter"></ion-icon>
      <ion-label>
        <h2>Twitter</h2>
        <h3>Följ mig på Twitter.</h3>
      </ion-label>
    </ion-item>
    <ion-item detail button="true" (click)="gotoSnapchat()">
        <ion-icon color="light" slot="start" name="logo-snapchat"></ion-icon>
      <ion-label>
        <h2>Snapchat</h2>
        <h3>Lägg till mig på Snapchat.</h3>
      </ion-label>
    </ion-item>
    <ion-item detail button="true" (click)="gotoPaypal()">
      <ion-icon color="light" slot="start" name="logo-usd"></ion-icon>
    <ion-label>
      <h2>Paypal</h2>
      <h3>Donera en slant via Paypal.</h3>
    </ion-label>
  </ion-item>
  </ion-list>
</ion-content>
