<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Böcker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item detail (click)="gotoIbooks()">
      <ion-avatar slot="start">
        <img src="assets/book.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>En Försvunnen Tid På Åland</h2>
        <h3>iBooks versionen.</h3>
      </ion-label>
    </ion-item>
    <ion-item detail (click)="gotoAmazon()">
      <ion-avatar slot="start">
        <img src="assets/book.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>En Försvunnen Tid På Åland</h2>
        <h3>Som vanlig bok på Amazon.</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
