<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Hem </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/header3.jpg" />
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm>
          <ion-img src="assets/profile.jpg"></ion-img>
        </ion-col>
        <ion-col size="12" size-sm>
          <ion-card-content>
            <p>Namn: Fredrik</p>
            <p>Kallas: Fredde</p>
            <p>Efternamn: Axelsson</p>
            <p>Mobil/iPhone Nummer: +3584573421134</p>
            <p>E-Mail: FR3DD3_-_@hotmail.com</p>
            <p>Utbildning: Naturfoto vid Ålands folkhögskola</p>
            <p>Bor: Åland - Mariehamn</p>
            <p>Bodde: Svergie - Vånga [utanför Norrköping]</p>
            <p>Född: 1988, 07, 26</p>
            <p>och skådespelare i ett filmteam/youtubeteam vid namn: *AX Studio*</p>
            <p>Jobbar mest med: Fotografera & Photoshop!..</p>
            <p>Facebook: Fredrik Fredde Axelsson</p>
            <a (click)="open()">Privacy Policy</a>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
