<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Hem
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img src="assets/header.jpg" />
<p>Namn: Fredrik</p>

<p>Kallas: Fredde
</p>
<p>Efternamn: Axelsson
</p>
<p>Mobil/iPhone Nummer: +3584573421134
</p>
<p>E-Mail: FR3DD3_-_@hotmail.com
</p>
<p>Utbildning: Naturfoto vid Ålands folkhögskola
</p>
<p>Bor: Åland - Mariehamn
</p>
<p>Bodde: Svergie - Vånga [utanför Norrköping]
</p>
<p>Född: 1988, 07, 26
</p>
<p>och skådespelare i ett filmteam/youtubeteam vid namn: *AX Studio*
</p>
<p>Jobbar mest med: Fotografera & Photoshop!..</p>

<p>Facebook: Fredrik Fredde Axelsson </p>
<a target="_blank" rel="noopener" href="https://nerdic-coder.com/fotograf-fredrik-axelsson-privacy-policy/">Privacy Policy</a>
</ion-content>
