<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Musik </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/header3.jpg" />
  <iframe style="border-radius:12px" src="https://open.spotify.com/embed/artist/1xZnet1fsrUFJbc1F6fuCl?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
</ion-content>
