<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Bilder </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center padding>
  <ion-slides pager="true">
    <ion-slide *ngFor="let picture of pictures">
      <ion-card>
        <ion-img [src]="picture.enclosure.url"></ion-img>
        <ion-card-content>{{ picture.title }}</ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer padding>
  <ion-button expand="block" color="primary" (click)="open()"
    >Kolla in mina foton på Mostphotos</ion-button
  >
</ion-footer>
