<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Videor </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <img src="assets/header3.jpg" />
  <ion-list>
    <ion-card *ngFor="let video of videos">
      <iframe
        [src]="video.src"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <ion-card-content>{{ video.title }}</ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>

<ion-footer class="ion-padding">
  <ion-button expand="block" color="primary" (click)="open()"
  >Prenumerera på min Youtube-kanal</ion-button
  >
</ion-footer>
